.header {
    height: 80px;

    .icon {
      float: right;
      font-size: x-large;
      margin-top: 20px;
      cursor: pointer;
  }

  i:hover {
    border-radius: 5px;
    font-size: xx-large;
  }

  .logo-style{
    height: 80px;
    width: 120px;
    border-radius: 10px;
  }
  }

  